<div class="card m-2" style="height:100%;border-radius:0px;">
  <div class="row m-2">
    <div class="col-sm-5 col-md-5 col-lg-5 form-inline">
      <label class="form-label">Vendor Name</label>&nbsp;<span style="color:red">*</span>&nbsp;
      <div class="form-inline-list">
        <input type="text" [(ngModel)]="ASNInitiate.VendorName" (keyup)="onsrchTxtChange('venderid',ASNInitiate.VendorName,'ASNInitiate')" class="form-control">
        <span class="input-group-append">
          <button type="button" class="btn btn-outline-secondary form-control" style="cursor:pointer" pButton icon="fa fa-list" aria-hidden="true" (click)="bindSearchListData('venderid',ASNInitiate.VendorName)"></button>
        </span>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 form-inline">
      <label>Remarks :</label>&nbsp;<span style="color:red">*</span>&nbsp;
      <textarea class="form-control" [(ngModel)]="ASNInitiate.Remarks"></textarea>
    </div>
  </div>
  <div class="row m-2">
    <div *ngIf="vendorEmailList.length>0" class="col-sm-4 col-md-4 col-lg-4 form-inline">
      <label>Vendor Email :</label>&nbsp;<span style="color:red">*</span>&nbsp;
      <input type="email" class="form-control" [(ngModel)]="VendorEmailId" />
      <br />
      &nbsp;<span style="color:red">Enter one  email id, multiple mail id's will not take. Example:abc@xyz.com</span>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 form-inline">
      <div class="form-inline" *ngFor="let email of vendorEmailList;let k=index">
        <input *ngIf="email!='NULL'" class="ml-2" type="checkbox" name="email" id="email{{k}}" style="height:20px;width:20px" (click)="selectEmails($event,email,k)">&nbsp;<span *ngIf="email!='NULL'" style="padding-top:0px !important">{{email}}</span>
      </div>
    </div>
  </div>
  <div class="row m-2">
    <div class="col-sm-4 col-md-4 col-lg-4">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 form-inline">
      <button type="submit" class="btn btn-primary" (click)="InitiateASN()">Initiate</button>
    </div>
  </div>
</div>
<p-dialog #dialog header="List View :" [(visible)]="showList" [contentStyle]="{'overflow':'visible'}">
  <div class="ui-g ui-fluid">
    <p-listbox [options]="searchItems" [(ngModel)]="selectedItem" optionLabel="name" (click)="onSelectedOptionsChange(selectedItem,null)"></p-listbox>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-close" (click)="dialogCancel('showList','')" label="Cancel"></button>
    </div>
  </p-footer>
</p-dialog>
