<h4 class="text-center">Insurance Report</h4>
<div class="card m-2">
  <div class="row m-2">
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label">Type</label><br />
      <select class="form-control dropdown" [(ngModel)]="ASNfilters.Type">
        <option value="CreatedDate" selected>Created Date</option>
        <option value="InvoiceDate">Invoice Date</option>
        <option value="ShippingDate">Shipping Date</option>
      </select>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label">From Date</label><br />
      <input type="date" class="form-control" [(ngModel)]="ASNfilters.FromDate">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label">To Date</label>&nbsp;<br />
      <input type="date" class="form-control" [(ngModel)]="ASNfilters.ToDate">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label ">ASN No</label><br />
      <input class="form-control" [(ngModel)]="ASNfilters.ASNNo">
    </div>
  </div>
  <div class="row m-2">
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label ">PO No</label><br />
      <input class="form-control" [(ngModel)]="ASNfilters.PONo">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label ">Vendor Id</label><br />
      <input class="form-control" [(ngModel)]="ASNfilters.Vendorid">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label ">Vendor Name</label><br />
      <input class="form-control" [(ngModel)]="ASNfilters.VendorName">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label ">Invoice No</label><br />
      <input class="form-control" [(ngModel)]="ASNfilters.InvoiceNo">
    </div>
  </div>
  <div class="row m-2">
    <div class="col-md-12" style="text-align:center">
      <button type="button" class="btn btn-primary" (click)="asnList()">Submit</button>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-4">
  <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="Export to Excel" (click)="ExportTOExcel()" style="margin-right: 0.5em;" class="ui-button-success"></button>
</div>
<div class="card compar-card m-2">
  <div class="card-body" style="overflow:auto !important" #TABLE>
    <p-table #dt [value]="AsnList" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr class="mprltbldata">
          <th class="text-center">S.No</th>
          <th class="text-center">ASN No</th>
          <th class="text-center">Vendor Name & Vendor Code</th>
          <th class="text-center">PONo && Date</th>
          <th class="text-center">Project Name</th>
          <th class="text-center">Invoice No</th>
          <th class="text-center">Invoice Date</th>
          <th class="text-center">Shipping Date</th>
          <th class="text-center">Inco Terms</th>
          <th class="text-center">Insurance</th>
          <th class="text-center">Transporter Name</th>
          <th class="text-center">LR No</th>
          <!--<th class="text-center">Type Of Invoice</th>-->
          <th class="text-center">Invoice Amount</th>
        </tr>
        <tr>
          <th></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'ASNNo', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'VendorName', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'PONos', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'ProjectName', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'InvoiceNo', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'InvoiceDate', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'ShippingDate', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'IncoTerm', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'Insurance', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'TransporterName', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'BillofLodingNumber', 'contains')"></th>
          <!--<th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'TypeOfInvoice', 'contains')"></th>-->
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'InvoiceAmntByVendor', 'contains')"></th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-ri="rowIndex" let-rindex=0>
        <tr>
          <td class="text-center">{{ri +1}}</td>
          <td class="text-center"><a [routerLink]="['/SCM/ASNView',rowData.ASNId]" target="_blank" routerLinkActive="active">{{rowData.ASNNo}}</a></td>
          <td class="text-center">{{rowData.VendorName}}</td>
          <td class="text-center">{{rowData.PONos}} <span *ngIf="rowData.PODate">&</span> {{rowData.PODate | date :  constants.dateFormat}}</td>
          <td class="text-center">{{rowData.ProjectName}}</td>
          <td class="text-center">{{rowData.InvoiceNo}}</td>
          <td class="text-center">{{rowData.InvoiceDate | date :  constants.dateFormat}}</td>
          <td class="text-center">{{rowData.ShippingDate | date :  constants.dateFormat}}</td>
          <td class="text-center">{{rowData.IncoTerm}}</td>
          <td class="text-center">{{rowData.Insurance}}</td>
          <td class="text-center">{{rowData.TransporterName}}</td>
          <td class="text-center">{{rowData.BillofLodingNumber}}</td>
          <td class="text-center">{{rowData.InvoiceAmntByVendor}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

